@charset"utf-8";
   *{
               list-style: none;
               margin: 0;
               padding: 0;
               text-decoration: none;
   }
    .top{
                width: 100%;
                height: 5.1rem;
                display: flex;
               justify-content:space-between ;
        
         li:nth-of-type(1){
             width: 11.65rem;
             height: 5.1rem;
             
         }
         img{
             width: 10.80rem;
             height: 3.7rem;
             margin:0.9rem 0.8rem;
         }
          .icon-user{
         font-size: 2rem;
         color: #999999;
     }
   .icon-nav{
       font-size: 1.7rem;
       
    }

   }
 .a{
     display: flex;
     width: 6rem;
     height: 5.1rem;
//   border: 1px solid;
        margin-top: 1rem;
        
     
 }   
 .wrap{
     width: 100%;
     
     display: flex;
     flex-wrap: wrap;
     text-align: center;
     justify-content: space-around;
     
 }
 .wrap li{
     
     width: 25%;
     
     
     div{
         width: 6rem;
         height: 6rem;
         border-radius: 100%;
         font-size: 3.5rem;
         text-align: center;
         line-height: 6rem;
         color: white;
         
         
         
     }
     p{
         font-size: 1.4rem;
         margin-top: 1.35rem;
     }
 }        
